.mainContent {
  /* position: relative;
  width: 90vw;
  height: 100vh;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: left; */
}

.mainTitle {
  background-color: #750712;
  font-family: 'Bebas Neue';
  color: #fff;
  font-size: 24px;

  width: 150px;
  height: 30px;

  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mainText {
  text-align: center;
}

.division {
  position: relative;
  background-color: #750712;
  width: 94vw;
  height: 4px;
  top: 0px;
}

.boxContent {
  width: 94vw;
  background-color: rgb(255, 179, 179);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.movieRow--listArea {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow--list {
  transition: all ease 0.5s;
}

.movieRow--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.movieRow--item:hover {
  transform: scale(1);
}


.movieRow--left,
.movieRow--right {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.5s;
}

.movieRow--left {
  top: 140px;
  left: 24px;
}

.movieRow--right {
  top: 140px;
  right: 21px;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}


@media screen and (max-width: 800px) {
  .mainContent {
    align-items: center;
  }

  .mainTitle {
    text-align: center;
  }

  .boxContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movieRow--left,
  .movieRow--right {
    opacity: 1;
  }
}