.mainContainer {
  font-size: 16px;
  text-align: justify;
  background-color: #f0f2f5;
}

.HeaderAppBar {
  align-items: center;
}

.title {
  width: 100%;
  padding-left: 25px;
}

.titleDrawer {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  padding: 0px 30px;
  font-weight: bold;
}

.itensDrawer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textDrawer {
  color: #000;
  text-decoration: none;
}

.content {
  margin-left: 38vh;
}

.background {
  height: 60vh;
  width: 100vw;
  position: absolute;
  right: 0px;

  display: grid;
  grid-template-rows: 1fr 50px;
  background: linear-gradient(to bottom, #ffacac, #f0f2f5);
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .mainContentBlur {
    filter: blur(4px);
  }
}